[submodule "deps/rust-crypto"]
	path = deps/rust-crypto
	url = https://github.com/DaGenix/rust-crypto
[submodule "deps/time"]
	path = deps/time
	url = https://github.com/rust-lang/time
[submodule "deps/regex"]
	path = deps/regex
	url = https://github.com/rust-lang/regex
